* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sansation', sans-serif;
    position: relative;
    width: 100%;
    min-height: 1560px;
    background: #F2F2F2;
    margin: 0;
}

/* Header */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: #FFFFFF;
}

/* BrainBlitz */
.brainblitz {
    position: absolute;
    width: 312px;
    height: 60px;
    left: 32px;
    top: 7px;
    background: url('../Images/BrainBlitz.png');
    background-size: contain;
}

.brainblitz:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(97, 0, 153, 0.3);
}


/* BrainBlitz Logo Only */
.logo {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: url('../Images/BrainBlitz_Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* BrainBlitz Name Only */
.name {
    position: absolute;
    left: 50%;
    top: 210px;
    transform: translateX(-50%);
    width: 318px;
    height: 75px;
    background: url('../Images/BrainBlitz_Name.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}