* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sansation', sans-serif;
    position: relative;
    width: 100%;
    background: #F2F2F2;
    margin: 0;
}

.header {
    position: relative;
    width: 100%;
    height: 75px;
    background: #FFFFFF;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

/* Logo styling */
.brainblitz {
    position: relative;
    left: auto;
    top: auto;
    width: 312px;
    height: 60px;
    background: url('../Images/BrainBlitz.png');
    background-size: contain;
    display: block;
}

/* BrainBlitz Logo Only */
.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    background: url('../Images/BrainBlitz_Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* BrainBlitz Name Only */
.name {
    width: 318px;
    height: 75px;
    margin-bottom: 30px;
    background: url('../Images/BrainBlitz_Name.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/*Tag Styling for Subjects*/
.tag {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    min-width: 60px;
}

.tag-subject-math {
    background-color: #E6B9FF;
    color: #6A009C;
}

.tag-subject-science {
    background-color: #B9E6FF;
    color: #006A9C;
}

.tag-subject-english {
    background-color: aquamarine;
    color: darkcyan;
}

.tag-subject-default {
    background-color: #610099;
    color: #E6B9FF;
}