* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sansation', sans-serif;
    position: relative;
    width: 100%;
    min-height: 1560px;
    background: #F2F2F2;
    margin: 0;
}

/* Header */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: #FFFFFF;
}

.logo {
    position: absolute;
    width: 312px;
    height: 60px;
    left: 32px;
    top: 7px;
    background: url('../Images/BrainBlitz.png');
    background-size: contain;
}

.logo:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(97, 0, 153, 0.3);
}
