* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sansation', sans-serif;
    position: relative;
    width: 100%;
    background: #F2F2F2;
    margin: 0;
}

.header {
    position: relative;
    width: 100%;
    height: 75px;
    background: #FFFFFF;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

/* Logo styling */
.brainblitz {
    position: relative;
    left: auto;
    top: auto;
    width: 312px;
    height: 60px;
    background: url('../Images/BrainBlitz.png');
    background-size: contain;
    display: block;
}

/* BrainBlitz Logo Only */
.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    background: url('../Images/BrainBlitz_Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* BrainBlitz Name Only */
.name {
    width: 318px;
    height: 75px;
    margin-bottom: 30px;
    background: url('../Images/BrainBlitz_Name.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}